<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      currentPosition: 0,
      totalItems: this.data.items,
      timelineWidth: 0,
      itemWidth: 0,
      unevenScrollValue: 0,
    };
  },
  mounted() {
    this.onResize();
    window.addEventListener('resize', this.onResize);
    this.timelineWidth = document.querySelector('.timeline__row').scrollWidth;
    this.itemWidth = document.querySelector('.timeline__item').offsetWidth;
    this.unevenScrollValue =
      this.timelineWidth % (this.itemWidth * this.totalItems.length);
  },
  destroyed() {
    window.removeEventListener('resize', this.onResize);
  },
  methods: {
    onResize() {
      this.itemWidth = document.querySelector('.timeline__item').offsetWidth;
      this.timelineWidth = document.querySelector('.timeline__row').scrollWidth;
    },
    handleScrollNext() {
      const content = document.querySelector('.timeline__row');
      let contentScrollLeft = content && content.scrollLeft;
      const prevBtn = document.getElementById('arrow__prev');
      const nextBtn = document.getElementById('arrow__next');
      prevBtn?.classList.remove('disabled');

      if (content.offsetWidth + content.scrollLeft >= content.scrollWidth) {
        nextBtn?.classList.add('disabled');
        document.querySelector('.timeline__row')?.classList.add('no-shadow');
      }

      contentScrollLeft += this.itemWidth;
      if (contentScrollLeft >= this.timelineWidth) {
        contentScrollLeft = this.timelineWidth;
      }
      content.scrollLeft = contentScrollLeft;
      this.currentPosition = contentScrollLeft;
    },

    handleScrollPrev() {
      const content = document.querySelector('.timeline__row');
      let contentScrollLeft = content && content.scrollLeft;
      const prevBtn = document.getElementById('arrow__prev');
      const nextBtn = document.getElementById('arrow__next');
      prevBtn?.classList.remove('disabled');
      nextBtn?.classList.remove('disabled');
      document.querySelector('.timeline__row')?.classList.remove('no-shadow');

      if (this.unevenScrollValue > 0) {
        contentScrollLeft =
          contentScrollLeft - this.itemWidth - this.unevenScrollValue;
      } else {
        contentScrollLeft -= this.itemWidth;
      }

      if (contentScrollLeft <= 0) {
        contentScrollLeft = 0;
        prevBtn?.classList.add('disabled');
      }
      content.scrollLeft = contentScrollLeft;
    },
  },
});
</script>

<template>
  <div class="timeline">
    <SlpContainer>
      <div class="timeline__gradient-header" />
      <SlpTypography variant="heading2-bold" tag="h2" class="slp-mb-64">
        {{ data.title }}
      </SlpTypography>
      <SlpRow class="timeline__row">
        <SlpColumn
          v-for="(item, i) in data.items"
          :key="i"
          :cols="3"
          :class="item.year ? 'timeline__item' : 'timeline__no-year'"
        >
          <SlpTypography
            variant="heading3-bold"
            tag="h3"
            class="timeline__year slp-mt-32 slp-mb-96"
          >
            {{ item.year }}
          </SlpTypography>
          <SlpTypography variant="body1-bold" tag="p">
            {{ item.description }}
          </SlpTypography>
        </SlpColumn>
      </SlpRow>
      <SlpRow>
        <SlpColumn
          class="slp-mt-64 slp-flex slp-align-items-center timeline__arrow-container"
        >
          <div class="timeline-controls arrows">
            <SlpButton
              id="arrow__prev"
              class="disabled arrow__prev"
              variant="icon"
              aria-label="View previous item"
              @click.native="handleScrollPrev()"
            >
              <SlpIcon
                name="chevron-lg-left"
                variant="product"
                alt="Chevron Right Icon"
                slp-color="primary-100"
              />
            </SlpButton>
            <SlpButton
              id="arrow__next"
              class="arrow__next"
              variant="icon"
              aria-label="View next item"
              @click.native="handleScrollNext()"
            >
              <SlpIcon
                name="chevron-lg-right"
                variant="product"
                alt="Chevron Right Icon"
                slp-color="primary-100"
              />
            </SlpButton>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.timeline {
  padding-top: $spacing-96;
  padding-bottom: $spacing-96;
  color: $color-text-50;
  background-color: $color-surface-700;

  &__gradient-header {
    background: linear-gradient(90deg, #ffc8c6 0%, #b3bded 100%);
    height: 4px;
    width: 95px;
    border-radius: 10px;
    margin-bottom: $spacing-16;
  }

  &__row {
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: all 1s;
    mask-image: linear-gradient(to left, transparent, #171321 40%);
    -webkit-mask-image: linear-gradient(to left, transparent, #171321 40%);

    &.no-shadow {
      mask-image: none;
      -webkit-mask-image: none;
    }
  }

  &__item {
    transition: all 1s;
    padding: $spacing-16;
    border-left: 1px solid $color-surface-50;
    will-change: transform;
    min-width: 200px;
  }

  &__no-year {
    position: relative;
    padding: $spacing-16;
    min-width: 200px;

    &:before {
      content: '';
      width: 1px;
      height: 200px;
      background-color: $color-surface-50;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .slp-btn.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__year {
    background: linear-gradient(90deg, #ef8cf3 0%, #825ee9 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    height: 48px;
  }

  &__arrow-container {
    justify-content: flex-end;
  }
}
</style>
