<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'FeatureList',

  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="feature-list">
    <div class="feature-list__content">
      <SlpTypography
        class="feature-list__content-header"
        variant="heading2-bold"
        tag="h2"
      >
        {{ data.title }}
      </SlpTypography>
      <div class="horizontal-rule"></div>
      <div class="feature-list__grid">
        <SlpTypography
          class="feature-list__grid-name"
          variant="heading4-bold"
          tag="h4"
          >{{ data.list_name }}
        </SlpTypography>
        <div class="feature-list__grid-content">
          <ul class="feature-list__grid-content-list1">
            <li
              v-for="(item, index) in data.list1"
              :key="index"
              class="feature-list__grid-item"
            >
              {{ item.title }}
            </li>
          </ul>
          <ul class="feature-list__grid-content-list2">
            <li
              v-for="(item, index) in data.list2"
              :key="index"
              class="feature-list__grid-item"
            >
              {{ item.title }}
            </li>
          </ul>
          <ul class="feature-list__grid-content-list3">
            <li
              v-for="(item, index) in data.list3"
              :key="index"
              class="feature-list__grid-item"
            >
              {{ item.title }}
            </li>
          </ul>

          <ul class="feature-list__grid-content-list4">
            <li
              v-for="(item, index) in data.list4"
              :key="index"
              class="feature-list__grid-item"
            >
              {{ item.title }}
            </li>
          </ul>
        </div>
        <SlpTypography
          class="feature-list__grid-name"
          variant="heading4-bold"
          tag="h4"
          >{{ data.additional_list_name }}
        </SlpTypography>
        <div class="feature-list__grid-content">
          <ul class="feature-list__grid-content-additional-list1">
            <li
              v-for="(item, index) in data.additional_list1"
              :key="index"
              class="feature-list__grid-item"
            >
              {{ item.title }}
            </li>
          </ul>
          <ul class="feature-list__grid-content-additional-list2">
            <li
              v-for="(item, index) in data.additional_list2"
              :key="index"
              class="feature-list__grid-item"
            >
              {{ item.title }}
            </li>
          </ul>
          <ul class="feature-list__grid-content-additional-list3">
            <li
              v-for="(item, index) in data.additional_list3"
              :key="index"
              class="feature-list__grid-item"
            >
              {{ item.title }}
            </li>
          </ul>

          <ul class="feature-list__grid-content-additional-list4">
            <li
              v-for="(item, index) in data.additional_list4"
              :key="index"
              class="feature-list__grid-item"
            >
              {{ item.title }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.horizontal-rule {
  border-top: 1px solid $color-surface-300;
  width: 100%;
}
.feature-list {
  max-width: 100%;
  background: #f6f3fe;
  padding: 120px;
  gap: 40px;
  @media screen and (max-width: $breakpoint-sm) {
    padding: 120px 16px;
  }
  &__content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    &-header {
      margin-bottom: 40px;
      width: 85%;
    }
    @media (max-width: $breakpoint-md) {
      margin-left: 0;
      margin-right: 0;
      padding: 0%;
      max-width: 95%;
      width: 100%;
      &-header {
        font-size: 40px !important;
        width: 100%;
      }
    }

    @media (min-width: 1024px) {
      max-width: 1024px;
      padding: 0;
    }
    @media (min-width: 1170px) {
      max-width: 1170px;
      padding: 0;
    }
  }

  &__grid {
    width: 100%;
    &-name {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      &-list1,
      &-list2,
      &-list3,
      &-list4,
      &-additional-list1,
      &-additional-list2,
      &-additional-list3,
      &-additional-list4 {
        padding: 0px 30px;
        flex: 20%;
        list-style-type: disc;
        li {
          font-size: 19px;
          display: list-item;
          margin-bottom: 20px;
        }
        @media screen and (max-width: $breakpoint-md) {
          padding-left: 19px;
          padding-right: 1px;
          margin-bottom: 12px;
          li {
            margin-bottom: 28px;
          }
        }
      }

      @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
        align-items: center;
      }
    }
    @media screen and (max-width: $breakpoint-md) {
      gap: 40px;
    }
  }
}
</style>
