<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'NextStep',
  props: {
    variant: {
      type: Number,
      required: false,
      default: 1,
    },
    disableAnimations: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      content: [],
    };
  },
  async fetch() {
    const content = (await this.$content('next-step').fetch()) as any;
    this.content = content;
  },
});
</script>

<template>
  <SlpContainer class="slp-my-96">
    <SlpRow
      v-if="variant === 1 && content.two_column"
      class="w-100 prevent-overflow"
    >
      <SlpColumn
        :cols="6"
        size="lg"
        :data-aos="!disableAnimations && 'fade-right'"
        data-aos-duration="800"
      >
        <SlpTypography
          class="slp-mb-16 slp-pr-72"
          variant="heading2-bold"
          tag="h2"
        >
          <slot name="ft-text">{{
            content.two_column.free_trial.heading
          }}</slot>
        </SlpTypography>
        <SlpTypography class="slp-mb-24" variant="heading4" tag="p">
          {{ content.two_column.free_trial.tagline }}
        </SlpTypography>
        <SlpButton
          :href="content.two_column.free_trial.button.link"
          :data-ga-name="content.two_column.free_trial.button.data_ga_name"
          :data-ga-location="
            content.two_column.free_trial.button.data_ga_location
          "
          :aria-label="`${content.two_column.free_trial.button.data_ga_location} ${content.two_column.free_trial.button.data_ga_name}`"
          variant="primary"
          >{{ content.two_column.free_trial.button.text }}</SlpButton
        >
      </SlpColumn>
      <SlpColumn
        class="slp-mt-64-sm"
        :cols="6"
        size="lg"
        :data-aos="!disableAnimations && 'fade-left'"
        data-aos-duration="800"
      >
        <div class="slp-flex w-100">
          <div class="vertical-line" />
          <div class="right-column w-100">
            <nuxt-img
              class="right-column_image slp-mb-16"
              :src="content.two_column.talk_expert.image"
              :alt="content.two_column.talk_expert.alt"
              loading="lazy"
            />
            <SlpTypography class="slp-mb-24" variant="heading4" tag="p">
              {{ content.two_column.talk_expert.tagline }}
            </SlpTypography>
            <SlpButton
              :href="content.two_column.talk_expert.button.link"
              :data-ga-name="content.two_column.talk_expert.button.data_ga_name"
              :data-ga-location="
                content.two_column.talk_expert.button.data_ga_location
              "
              variant="tertiary"
            >
              {{ content.two_column.talk_expert.button.text }}
              <SlpIcon icon="gl-chevron-lg-right" alt="Chevron Right Icon" />
            </SlpButton>
          </div>
        </div>
      </SlpColumn>
    </SlpRow>

    <SlpRow v-else-if="variant === 2">
      <SlpColumn
        :cols="12"
        size="lg"
        :data-aos="!disableAnimations && 'fade-right'"
        data-aos-duration="800"
      >
        <SlpTypography
          class="slp-mb-16 slp-pr-72"
          variant="heading2-bold"
          tag="h2"
        >
          {{ content.two_column.free_trial.heading }}
        </SlpTypography>
        <SlpTypography class="slp-mb-24" variant="heading4" tag="p">
          {{ content.two_column.free_trial.tagline }}
        </SlpTypography>
        <SlpButton
          :href="content.two_column.free_trial.button.link"
          :data-ga-name="content.two_column.free_trial.button.data_ga_name"
          :data-ga-location="
            content.two_column.free_trial.button.data_ga_location
          "
          :aria-label="`${content.two_column.free_trial.button.data_ga_location} ${content.two_column.free_trial.button.data_ga_name}`"
          variant="primary"
          >{{ content.two_column.free_trial.button.text }}</SlpButton
        >
      </SlpColumn>
    </SlpRow>
    <SlpRow v-else-if="variant === 3 && content.two_column">
      <SlpColumn
        :cols="8"
        size="lg"
        :data-aos="!disableAnimations && 'fade-right'"
        data-aos-duration="800"
      >
        <SlpTypography
          class="slp-mb-16 slp-pr-72"
          variant="heading2-bold"
          tag="h2"
        >
          {{ content.two_column.partners.heading }}
        </SlpTypography>
        <SlpTypography class="slp-mb-24" variant="heading4" tag="p">
          {{ content.two_column.partners.tagline }}
        </SlpTypography>
        <SlpButton
          :href="content.two_column.partners.button.link"
          :data-ga-name="content.two_column.partners.button.data_ga_name"
          :data-ga-location="
            content.two_column.partners.button.data_ga_location
          "
          :aria-label="`${content.two_column.partners.button.data_ga_location} ${content.two_column.partners.button.data_ga_name}`"
          variant="primary"
          >{{ content.two_column.partners.button.text }}</SlpButton
        >
        <SlpButton
          v-if="content.two_column.partners.secondary_button"
          :href="content.two_column.partners.secondary_button.link"
          :data-ga-name="
            content.two_column.partners.secondary_button.data_ga_name
          "
          :data-ga-location="
            content.two_column.partners.secondary_button.data_ga_location
          "
          variant="tertiary"
        >
          {{ content.two_column.partners.secondary_button.text
          }}<SlpIcon variant="product" name="chevron-lg-right"
        /></SlpButton>
      </SlpColumn>
      <SlpColumn
        class="slp-mt-64-sm slp-flex slp-align-items-center slp-justify-content-center"
        :cols="4"
        size="lg"
        :data-aos="!disableAnimations && 'fade-left'"
        data-aos-duration="800"
      >
        <div class="w-100 slp-justify-content-center">
          <nuxt-img
            :src="content.two_column.talk_expert.image"
            :alt="content.two_column.talk_expert.alt"
            loading="lazy"
          />
        </div>
      </SlpColumn>
    </SlpRow>

    <SlpRow v-else>
      <SlpColumn :cols="4"> </SlpColumn>
      <SlpColumn :cols="4"> </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.w-100 {
  width: 100%;
  overflow-x: hidden;
}

.slp-btn {
  @media (max-width: $breakpoint-lg) {
    width: 100%;
    justify-content: center;
    &.slp-btn-tertiary {
      width: fit-content;
      padding-left: 0;
    }
  }
}
.variant4-expert-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  width: 190px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #171321;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  color: #171321;
  font-size: 18px;
}
.slp-mt-64-sm {
  @media (max-width: $breakpoint-lg) {
    margin-top: $spacing-64;
  }
}

.vertical-line {
  display: none;
  @media (min-width: $breakpoint-lg) {
    display: block;
    border-left: 2px solid $color-surface-500;
    margin-right: 96px;
    margin-left: 96px;
  }
}

.right-column {
  display: flex;
  flex-direction: column;

  &_image {
    max-width: 210px;

    @media (max-width: $breakpoint-lg) {
      align-self: center;
    }
  }

  .slp-btn {
    @media (min-width: $breakpoint-lg) {
      width: fit-content;
    }
  }
}
</style>
